<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Вход
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="http://placehold.it/300x100">

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Адрес электронной почты" 
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Введите корректный e-mail</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Пароль</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" 
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Не менее 6 символов</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Войти
    </button>

  </form>

    <button ion-button block clear (click)="goToSignup()">
      Зарегистрироваться
    </button>

    <button ion-button block clear (click)="goToResetPassword()">
      Я забыл пароль
    </button>

</ion-content>
