page-event-detail {
	ion-card-header {
		text-align: center;
	}

	.add-guest-form {
		button {
		margin-top: 16px;
		}
	}
	
	.profitable {
		color: #22BB22;
	}
	
	.no-profit {
		color: #FF0000;
	}

	.guest_photo {
		border: 1px solid LightGrey;
		color: LightGrey;
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
}